<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrapVue/bootstrap-vue.css"/>
<link rel="stylesheet" href="/css/loader.css"/>

<title>Student applications</title>
</head>
<body>
<div id="HomeStudent_myApplications" class="container-fluid">
	<div class="row">
      <div th:insert="~{nav :: copy}">
      </div>	
    </div>
    
	<div class="container">
		<div class="row">
			<br>
		</div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<br>	
		</div>
		<div class='row'>
			<div id="loader" v-if="showloader"></div>
		</div>
		<template>
		  <b-table hover :items="items"></b-table>
		</template>
</div>
</div>
</div>


<script type="text/javascript" src="/js/axios/axios.min.js"></script>
<script type="text/javascript" src="/js/vuejs/vue.js"></script>
<script type="text/javascript" src="/js/bootstrapVuejs/polyfill.min.js"> </script>
<script type="text/javascript" src="/js/bootstrapVuejs/bootstrap-vue.js"></script>
<script type="text/javascript" src="/js/vuejs/pages/homeStudent_myApplications.js"> </script>
<script type="text/javascript" src="/js/jQuery/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/js/popper/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
